/*********** Main Pane ***********/
#main-pane { /* SplitPane container */
    -fx-background-color: #212121;
}
#main-pane .split-pane-divider { /* SplitPane divider */
    -fx-background-color: #212121;
}
/*********************************/


/*********** Button Bar **********/
#button-bar { /* Button bar container */
    -fx-background-color: #212121;
}
#button-bar .button { /* Run and clear buttons */
    -fx-background-color: #424242;
    -fx-text-fill: white;
}
/*********************************/


/*********** Input ***************/
#input-field { /* TextField input field */
    -fx-background-color: #1B1B1E;
    -fx-text-fill: white;
}
/*********************************/


/*********** Output **************/
#output-pane { /* ScrollPane container */
    -fx-background-color: transparent;
}
#output-pane .text-flow { /* TextFlow container */
    -fx-background-color: #333333;
}
/*********************************/


/*********** Table ***************/
#table { /* TableView container */
    -fx-background-color: #333333;
}
#table .column-header { /* Column header containers */
    -fx-background-color: #212121;
}
#table .column-header .label { /* Column header text */
    -fx-text-fill: white;
}
#table .table-cell { /* Cell containers */
    -fx-text-fill: white;
    -fx-background-color: #333333;
    -fx-table-cell-border-color: #333333;
}
#table .table-row-cell:selected .table-cell { /* Selected row */
    -fx-background-color: #303032;
}
/*********************************/
