#topBar { /* Header bar */
    -fx-background-color: #212121;
}

#runButton, #replButton { /* Run and REPL buttons */
    -fx-background-color: #424242;
    -fx-text-fill: white;
}

#splitPane, .split-pane-divider { /* SplitPane box*/
    -fx-background-color: #212121;
}

#menuBar { /* Menu box */
    -fx-background-color: #212121;
}

#menuBar .menu .label  { /* Menu text */
    -fx-text-fill: white;
}

#menuBar .menu:hover, #menuBar .menu:showing{ /* Menu hover */
    -fx-background-color : #303032;
}

#menuBar .context-menu, #menuBar .menu-item { /* Menu item */
    -fx-background-color: #212121;
}

#menuBar .menu-item:hover { /* Menu item hover */
    -fx-background-color: #333333;
}

#codeAreaInput { /* CodeArea box */
    -fx-background-color: #1B1B1E;
}

#codeAreaInput .caret { /* CodeArea caret */
    -fx-stroke: white;
}

#codeAreaInput .lineno { /* CodeArea line numbers box */
    -fx-background-color: #3B3B3B;
}

#codeAreaInput .lineno .text { /* CodeArea line numbers text */
    -fx-fill: white;
    -fx-font-family: "Arial Black";
}

#scrollPane { /* Scroll Pane box */
    -fx-background-color: transparent;
}

#textFlowOutput { /* TextFlow box */
    -fx-background-color: #333333;
}

#bottomBar { /* Label text */
    -fx-background-color: #212121;
}

#bottomBar .label { /* Label text */
    -fx-text-fill: white;
}

#tabSizeField { /* Tab size field */
    -fx-background-color: #212121;
    -fx-text-fill: white;
}
