.text {
    -fx-fill: #FBFFFE;
    -fx-font-family: "Liberation Mono";
}
.keyword {
    -fx-fill: #fb4934;
    -fx-font-weight: bold;
}
.boolean {
    -fx-fill: #576CA8;
    -fx-font-weight: bold;
}
.operator {
    -fx-fill: #7EBDC2;
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: #BB4430;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: #FAA916;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: #F3DFA2;
    -fx-font-weight: bold;
}
.comment {
    -fx-fill: #6D676E;
}
.paragraph-box:has-caret {
    -fx-background-color: #303032;
}